<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/images/fav.PNG">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Codies Alert</title>
    </head>
    <body>
        <div class="wallet-container">
        
            <h1> Send Bitcoin </h1>
            
            <form action="#" id = "form" method="post">
                <label for="from">From Address:</label><br>
                <input type="text" id="from" name="fromAddress" ><br>
                <label for="to">To Address:</label><br>
                <input type="text" id="to" name="toAddress" ><br><br>
                <label for="amount">Amount:</label><br>
                <input type="number" id="amount" name="Amount" ><br><br>
                <span> {{ message }} </span> <br>
                <input type="submit" value="Send">
                
            </form>
        </div>
    </body>
</html>
